---
layout: default
title: Vive La Mystique
description: This is a random website for you to waste your time.
keywords: portfolio, farooq khichi, freelancer
drawer: true
---

<div class="col-md-8">
  <p>{{ site.data.manifest.description }}</p>

  <h2>My Gigs</h2>
  {% include list_services.html %}
</div>

<div class="col-md-4">
  <!-- Featured Projects -->
  <section class="mdc-card mdc-card--outlined highlighted">
    <div class="mdc-card__content">
      <h2>Blog Posts</h2>
      {% include list_posts.html %}
    </div>
  </section>

  {% include widget_goodreads.html %}
</div>

<!-- PWA -->
<script src="{{ site.baseurl }}/assets/scripts/webapp.js"></script>
<script type="module">
  import 'https://cdn.jsdelivr.net/npm/@pwabuilder/pwaupdate';
  const el = document.createElement('pwa-update');
  document.body.appendChild(el);
</script>
<script>
  function install() {
    const ref = document.getElementById("a2hs");
    if (!ref.getInstalledStatus()) {
      ref.openPrompt();
    } else {
      showSnackbar("You have already installed the app.");
    }
  }
</script>
